/* header-section starting */
header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../media/img/bg.jpg);
}
nav{
    position: fixed;
    top: 0;;
    width: 100%;
    background-color: var(--secondary-dark-color);
}
.white-mode nav{
    background-color: var(--btn-bg-color);
}
nav .wrapper{
    width: 85%;
    height: 80px;
    /* padding: ;; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
nav .wrapper .logo a{
    color: var(--primary-white-color);
    font-weight: 600;
    font-size: 14px;
}
.white-mode .wrapper .logo a{
    color: var(--primary-dark-color);
    font-weight: 600;
}
nav .wrapper ul{
    display: flex;
    align-items: center;
}
nav .wrapper ul li{
    margin-left: 2rem;
}
nav .wrapper ul li a{
    color: var(--primary-white-color);
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: var(--transition);
}
.white-mode   nav .wrapper ul li a{
    color: var(--primary-dark-color);
 }
nav .wrapper ul li a.active{
    color: var(--btn-bg-color);
}
.white-mode nav .wrapper ul li a.active{
    color: var(--primary-white-color);
 }
nav .wrapper ul li a:hover{
    color: var(--btn-bg-color);
}
.white-mode   nav .wrapper ul li a:hover{
    color: var(--primary-white-color);
 }
nav i{
    margin: 0px .4rem;
    font-size: 2rem;
}
nav .wrapper .nav-btns-wrapper{
    display: flex;
    align-items: center;
}
nav .nav-btn{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;;
    margin-left: 1rem;
    background-color: grey;
    color: var(--primary-white-color);

    &:nth-child(3){
        border-radius: .4rem;
        padding: .2rem;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        display: none;
    }
}
.white-mode nav .nav-btn{
    background-color: var(--primary-white-color);
    color: var(--primary-dark-color);
}
.bar{
    width: 100%;
    height: 2px;
    background-color: var(--primary-white-color);
}
.white-mode .bar{
    background-color: var(--primary-dark-color);
 }
/* intro starting */
.intro .wrapper{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.intro .wrapper h1{
    color: var(--primary-white-color);
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
}
.intro .wrapper p{
    margin-bottom: 2rem;
    padding: .4rem;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 2rem;
   
}
.intro .wrapper .about-btn{
    padding: 1rem 2rem;
    background-color: var(--primary-dark-color);
    color: var(--primary-white-color);
    border-radius: var(--border-radious);
    transition: var(--transition);
    font-weight: 500;
}
.white-mode .intro .wrapper .about-btn{
    background-color: var(--btn-bg-color);
    color: var(--primary-dark-color);
}
/* header-section ending */

/* about-section starting */
.about-section{
    padding-bottom: 1rem;
}
.wrapper .about-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about-card{
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 2.2;
    margin: 1rem;
    padding: 0.5rem;

    &:nth-child(1){
        width: 200px;
        height: 200px;
    }
}
.about-card > img{
    width: 160px;
    height: 160px;
}
.about-card p{
    margin-bottom: 1rem;
}
.about-card .download-btn{
    background-color: grey;
    color: var(--primary-white-color);
    padding: 1rem 2rem;
    border-radius: var(--border-radious);
    transition: var(--transition);
}
.white-mode .about-card .download-btn{
    background-color: var(--btn-bg-color);
    color: var(--primary-dark-color);
}

/* about-section ending */

/* service-section starting */
.service-section{
    padding-bottom: 3rem;
}
.wrapper .service-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.service-card{
    width: 270px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 2.2;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radious);
}
.service-card-icon-wrapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-mode .service-card-icon-wrapper{
    background-color: var(--btn-bg-color);
    color: var(--primary-dark-color);
}
.service-card h3{
    padding: 0.5rem 0px;
}
.service-card p{
    margin-bottom: 1rem;
    line-height: 1.5;
}
/* service-section ending */

/* contact-section starting */
.wrapper .profile{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.toggle-profile .profile{
    transform: translateY(0%);

}
.profile-item{
    padding: 1rem;
    background-color: var(--primary-dark-color);
    border-radius: var(--border-radious);
    color: var(--primary-dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.white-mode .profile-item{
    background-color: var(--btn-bg-color);
}
.profile-card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

}
.profile-card:nth-child(1){
    height: 90px;
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}
.profile-card:nth-child(1) > img{
    width: 110px;
    position: absolute;
    bottom: -45px;
}
.profile-card h1{
    font-size: 1.5rem;
    padding-top: 2rem;
    color: var(--primary-white-color);
}
.white-mode .profile-card h1{
    color: var(--primary-dark-color);
}
.profile-card p{
    padding-bottom: 1rem;
    color: var(--primary-white-color);
}
.white-mode .profile-card p{
    color: var(--primary-dark-color);
}
.socialmedia-profile ul{
    display: flex;
}
.socialmedia-profile ul li{
    margin: .5rem;
}
.socialmedia-profile ul li a{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-white-color);
    color: var(--primary-dark-color);;
    padding: 0.5rem;
    border-radius: 50%;
}
.profile-btn{
    padding: 0.5rem 2rem;
    /* font-size: 14px; */
    margin-top: 1rem;
    border-radius: var(--border-radious);
    background-color: var(--primary-white-color);
    color: var(--primary-dark-color);
    transition: all .3s;
}
/* contact-section ending */

/* footer-section starting */
footer{
    width: 100%;
    background-color: var(--secondary-dark-color);
    color: var(--primary-white-color);
    padding: 4rem;
}
.white-mode footer{
    background-color: var(--btn-bg-color);
    color: var(--primary-white-color);
}
footer .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-box ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-box ul li a{
    width: 28px;
    height: 28px;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--primary-white-color);
    background-color: grey;
}
.whatsapp{
    width: 250px;
    position: fixed;
    bottom: 3rem;
    right: -65px;
    padding: 0px 2rem;
    cursor: pointer;
}
.whatsapp ul{
    padding: 0px;
    transform: translate(90px, 0);
}
.whatsapp ul li{
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    background: rgba(255, 255, 255, 0.4);
    width: 250px;
    text-align: right;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    transition: all 1s;

    &:hover{
        transform: translate(-120px, 0);
        background: rgba(255, 255, 255, 0.3);
    }
   
}
.white-mode .whatsapp ul li{
    color: var(--primary-dark-color);
}
.whatsapp ul li a{
    font-size: 18px;
}
.white-mode .footer-box ul li a{
    color: var(--primary-dark-color);
    background-color: var(--primary-white-color);
}
.footer-box p{
    padding-top: 2rem;
}
.white-mode .footer-box p{
    color: var(--primary-dark-color);
}
/* footer-section ending */




/* Responsiveness */

@media (max-width: 700px){
    /* general styling starting */
    .wrapper{
        width: 91%;
    }
    /* general styling ending */

    /* head section starting */
    .nav .wrapper{
        padding: 0rem 0.5rem;
    }
    nav .nav-btn{

        &:nth-child(3){
            display: flex;
        }
    }
    .nav-links{
        width: 100%;
        height: calc(100% - 80px);
        background-color:var(--primary-dark-color);
        position: fixed;
        bottom: 0;
        left: 0%;
        padding: 1rem;
        transform: translateX(-100%);
        transition: all .1s;
    }
    .active.nav-links{
        transform: translateX(0%);
    }
    .white-mode .nav-links{
        background-color: var(--primary-white-color);
        color: var(--primary-dark-color);
    }
    nav .wrapper ul{
        width: 100%;
        display: block;
    }
    nav .wrapper ul li{
        padding: .4rem 0rem;
        margin-left: 0rem;
        margin-top: 1rem;
    }
    nav .wrapper ul li a{
        color: var(--primary-white-color);
        padding: 0.5rem 1rem;
    }
    .white-mode nav .wrapper ul li a.active{
        color: var(--btn-bg-color);
    }
    .white-mode nav .nav-btn{
        background-color: var(--btn-bg-color);
        color: var(--primary-dark-color);
    
        &:nth-child(3){
            background-color: transparent;
        }
    }
    /* head section ending */

    /* about section starting */
    .about-section{
        padding-bottom: 1rem;
    }
    .wrapper .about-items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .about-card{
        text-align: center;
    
        &:nth-child(1){
            width: 200px;
            height: 200px;
        }
    }
    .about-card > img{
        width: 200px;
        height: 200px;
    
    }
    .about-card h3{
        text-align: center;
    }
    .about-card p{
        margin-bottom: 1rem;
    }
    .about-card .download-btn{
        margin: auto;
        border-radius: var(--border-radious);
        transition: var(--transition);
    }
    
    /* about section ending */
}



/* ========================================== */
/* ========================================== */


@media (max-width: 300px){
   /* general styling starting */
   .wrapper{
        width: 95%;
    }
/* general styling ending */

  /* header-section-starting */
    .nav-links{
        padding: .2rem .1rem;
        transform: translateX(-100%);
        transition: all .1s;
    }
    nav .wrapper ul li{
        padding: .2rem 0rem;
        margin-left: 0rem;
        margin-top: .1rem;
    }
    nav .wrapper ul li a{
        padding: .2rem 1rem;
    }


    /* intro */
    .intro .wrapper h1{
        font-size: 18px;;
       
    }

    .intro .wrapper p{
        font-size: 14px;;
       
    }



/* header-section-ending */

}

