.container {
    width: 90%;
}

/* HEADER STARTING */
nav {
    background-color: var(--secondary-color);
}

nav .logo a {
    color: var(--primary-color);
}

.nav-links-container {
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    bottom: 0;
    left: -100%;
    padding: 1rem;
    flex-direction: column;
    transition: var(--transition);
    background-color: var(--secondary-color);
}

nav .nav-links-container.active {
    left: 0%;
}

.nav-links-header {
    flex-direction: column;
}

.nav-links-header li {
    margin-left: 0rem;
    margin-bottom: 1.5rem;
}

.nav-links-header li a {
    color: var(--dark-color);
}

.nav-links-footer {
    color: var(--dark-color);
    display: flex;
    font-weight: 700;
}

.toggle-nav {
    display: flex;
}

h1 {
    font-weight: 500;
    font-size: 1.3rem;
}

/* intro starting */
.intro-container .container {
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
}

/* HEADER ENDING */


/* ABOUT STARTING */
.about-txt-container {
    text-align: center;
    width: 100%;
    padding: .1rem 2rem 2rem;
}


/* ABOUT ENDING */

/* SKILL STARTING */
.skill-box {
    width: 100%;
}

/* SKILL ENDING */


/* PROJECT STARTING */
.project-p {
    text-align: center;
}

.project-items {
    width: 100%;
}

.project-card {
    width: 100%;
    height: auto;
}


/* PROJECT ENDING */